# Terraform files to be excluded
**/.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform plans
*.tfplan

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Keys
*.pem
*.key

# Environment filessss
.env