# Terraform files to be excluded
terraform/.terraform/
backend/.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.lock.hcl

# Terraform plans
*.tfplan

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Keys
*.pem
*.key

# Environment filessss
.env